---
layout: base
---

{% assign episodes = site.episodes | reverse %}
{% assign latest_episode = episodes[1] %}

<div class="posts-feed">
  {% for episode in episodes %}
    {% unless episode.url contains "latest" %}
      {% assign hide_episode_details = false %}
      {% if episode.url != latest_episode.url %}
        {% assign hide_episode_details = true %}
      {% endif %}

      {% assign hide_link_to_episode = false %}

      {% if episode.draft != true %}
        {% include episode.html %}
      {% endif %}
    {% endunless %}
  {% endfor %}
</div>
