<footer class="site-footer">
  <div class="site-footer-social">
    <div class="show-on-ios" style="display:none;">
      <a href="overcast://x-callback-url/add?url={{ site.episodes_rss_feed }}" class="no-underline">
        <img src="https://overcast.fm/img/logo.svg" height="64" width="64" alt="overcast.fm"/>
        <br />
        Subscribe to Favicon Valley<br /> with Overcast
      </a>
    </div>

    <hr />

    <ul>
      {% if site.social.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.social.twitter }}" title="Twitter">
          Twitter
        </a>
      </li>
      {% endif %}
      <li>
        <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#102;&#097;&#118;&#105;&#099;&#111;&#110;&#118;&#097;&#108;&#108;&#101;&#121;&#046;&#115;&#104;&#111;&#119;" title="Email">
          Email
        </a>
      </li>
      <li>
        <a href="/feed.xml" title="RSS Feed">
          RSS
        </a>
      </li>
    </ul>
  </div>

  <div class="site-footer-inner">
    <p>Want to send email better? <br /><a href="https://www.sendwithus.com?ref=faviconvalley.show">Try Sendwithus for free</a>!</p>
    <br />
    <p><small>Site built with &lt;3 by <a href="https://brandonb.io?ref=faviconvalley">Brandon Brown</a></small></p>
    <p><small><time datetime="{{ site.time | date_to_rfc822 }}" itemprop="datePublished">{{ site.time | date: "%Y" }}</time></small></p>
  </div>
</footer>
