<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.meta_description }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if site.google_analytics.id %}
<link rel="dns-prefetch" href="//www.google-analytics.com">
{% endif %}

{% include social_meta_tags.html %}

{% if page.robots %}
<meta name="robots" content="{{ page.robots }}">
{% else %}
<meta name="robots" content="all">
{% endif %}

{% include favicons.html %}

<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ site.episodes_rss_feed }}">

<link href="/assets/styles/site.css" rel="stylesheet" inline>

{% include google_analytics.html %}

<!-- Twitter widget -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
