<header class="site-header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
  <div class="site-header-avatar">
    <img class="site-header-avatar-img"
        src="{{ '/avatar256.png' | prepend: site.assets_images }}">
  </div>

  <div class="site-header-title">
    <h1 itemprop="headline">
      {% if page.url == '/' %}
      {{ site.title }}
      {% else %}
      <a href="/" title="{{ site.description }}">{{ site.title }}</a>
      {% endif %}
    </h1>
  </div>

  <div class="site-header-description">
    <p>{{ site.description }}</p>
  </div>

  <nav class="site-header-nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    {% assign navurl = page.url | remove: 'index.html' %}
    <ul>
      <li>
        <a href="{{ site.itunes_url }}" title="Subscribe on iTunes">
          Subscribe on iTunes
        </a>
      </li>
      {% assign site_pages = site.pages | sort: 'order' %}
      {% for page in site_pages %}
      {% if page.include_in_nav %}
      <li itemprop="url">
        <a href="{{ page.url }}"
          {% if page.url == navurl %}class="active"{% endif %}
          {% if page.target %} target="{{ page.target }}"{% endif %}
           title="{{ page.title }}" itemprop="name">
          {{ page.title }}
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>

  <div class="site-header-subscribe">
    {% include mailchimp_embed.html %}
  </div>
</header>
