<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="ClearType" content="true">

<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

<link rel="dns-prefetch" href="//ajax.googleapis.com">
{% if site.google_analytics.id %}
<link rel="dns-prefetch" href="//www.google-analytics.com">
{% endif %}

{% include social_meta_tags.html %}

{% if page.robots %}
<meta name="robots" content="{{ page.robots }}">
{% else %}
<meta name="robots" content="all">
{% endif %}

{% include favicons.html %}

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ site.episodes_rss_feed }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700italic,700|Oxygen:400,300,700">
<link rel="stylesheet" href="/assets/styles/site.css" inline>

<!-- Mailchimp signup code -->
<link rel="stylesheet"href="//cdn-images.mailchimp.com/embedcode/slim-081711.css">
<style type="text/css">
  #mc-embedded-subscribe-form{padding:0 !important; width:40%; margin:0 auto; text-align:center;}
  #mc-embedded-subscribe-form label{text-align:center;}
  #mce-EMAIL {width:100% !important; font-family: 'Helvetica', Arial, sans-serif;}
  #mc-embedded-subscribe{width:100% !important;margin: 0 !important;}
</style>

{% include google_analytics.html %}
