<!-- Begin MailChimp Signup Form -->
<form action="//brandonb.us9.list-manage.com/subscribe/post?u=92f1e767b3d52c18390a47629&amp;id=817517feaf"
      method="post"
      name="mc-embedded-subscribe-form"
      class="form"
      target="_blank"
      novalidate>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;">
    <input type="text" name="b_92f1e767b3d52c18390a47629_817517feaf" tabindex="-1" value="">
  </div>
  
  <div class="form-control">
    <label for="mce-EMAIL">Subscribe &amp; receive podcast updates</label>
    <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-full-width" placeholder="email address" required>
  </div>
  <input type="submit" value="Subscribe" name="subscribe" class="button">
</form>
<!--End mc_embed_signup-->
