// Variables and utilities
@import 'utilities.less';
@import 'variables.less';

// 3rd-party
@import (less) "normalize.css";
@import (less) "tomorrow-night-eighties.css";

// Base modules
@import 'buttons.less';
@import 'forms.less';
@import 'base.less';
@import 'errors.less';


.site-header,
.site-content {
  padding: 0 2rem 2rem;
}

// Main styles
.site-header {
  width: 30%;
  max-width: 30rem;
  padding-right: 8rem;

  h1 {
    font-size: 3.6rem;
    line-height: 1;
  }
}

// Navigation
.site-header-nav {
  ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  li {
    list-style-type: none;

    a {
      width: 100%;
      display: inline-block;
      padding: 1rem;
      text-decoration: none;
    }

    a:hover {
      color: @black;
      text-decoration: none;
      background: @gray-light;
      transform: scale(1.05);
    }
  }
}

.site-header-title {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0;

  h1 {
    margin: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      color: @gray-darkest;
      text-decoration: underline;
    }
  }
}

.site-header-description {
  color: @black;
}

.site-header-copyright {
  font-size: 1.2rem;
}

// Content area
.site-content {
  width: 70%;
  max-width: 70rem;
  padding-top: 4rem;
}

// Feed posts
.posts-feed-item {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 0;
  padding-right: 0;

  &:first-child {
    padding-top: 0;
  }
}

// Pagination
.posts-pagination {
  margin-top: 8rem;
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 0;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
  }

  li {
    display: inline-block;
    list-style-type: none;
  }

  a {
    display: inline-block;
    padding: 1rem;
  }

  a:hover {
    text-decoration: none;
    background: @gray-lighter;
  }
}

.posts-pagination-page-num {
  text-align: center;
  flex: 2;
}

.posts-pagination-prev,
.posts-pagination-next {
  flex: 1;
}

.posts-pagination-next {
  text-align: right;
}

.posts-pagination-none {
  color: @gray-dark;
}

// Individual post
.post-title {
  margin-bottom: 2rem;
}

.post-meta {
  font-size: 1.3rem;
  color: @gray-darker;
  .clearfix;
}

.post-meta-left {
  float: left;
}

.post-meta-right {
  float: right;
}

.post-content {
  margin-bottom: 4rem;

  figure {
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .iframe-gmap {
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: -8rem;
    margin-right: -8rem;
    text-align: center;
  }

  picture {
    display: block;
  }

  a {
    display: inline-block;
  }

  img {
    margin: 0 auto;
    max-width: 100%;
  }
}

.post-shownotes,
.post-media {
  margin: 2rem 0;
}

.post-sponsor-link {
  display: block;
  max-width: 54rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-decoration: none;
}
.post-sponsor-link:hover {
  transform: scale(1.025);
}

.post-sponsor-inner {
  position: relative;
  padding: 4rem;
  border: solid 1px @gray-light;
  border-radius: .5rem;
  .text-center;
}

.post-sponsor-title {
  margin-bottom: 2rem;
}

.post-sponsor-image {
  max-width: 30rem;
}

.post-sponsor-attribution {
  border-bottom-right-radius: .5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .6rem;
  font-size: 1rem;
  background: @gray-lightest;
}

// lazysizes
.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity .3s;
}

// Responsive-related classes
@import 'responsive.less';
