// Variables and utilities
@import 'utilities.less';
@import 'variables.less';

// 3rd-party
@import (less) "normalize.css";
@import (less) "tomorrow-night-eighties.css";

// Base modules
@import 'buttons.less';
@import 'forms.less';
@import 'base.less';
@import 'errors.less';


.site-header,
.site-content {
  padding: 2rem;
  background: @white;
}

// Main styles
.site-header {
  width: 30%;
  padding-right: 8rem;

  h1 {
    font-size: 6rem;
    line-height: .9;
  }
}

// Navigation
.site-header-nav {

  ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  li {
    list-style-type: none;

    a {
      width: 100%;
      display: inline-block;
      padding: 1rem;
    }

    a:hover {
      text-decoration: none;
      background: @gray-lighter;
    }
  }

}

.site-header-avatar {
  // nothing here
}

.site-header-avatar-img {
  width: 19.6rem;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,.1);
}

.site-header-title {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0;

  h1 {
    margin: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      color: @gray-darkest;
      text-decoration: underline;
    }
  }
}

.site-header-description {
  color: @black;
}

// Content area
.site-content {
  width: 70%;
  padding-top: 4rem;
}

// Feed posts
.posts-feed {
  // nothing here right now
}

.posts-feed-item {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 0;
  padding-right: 0;

  &:first-child {
    padding-top: 0;
  }
}

// Pagination
.posts-pagination {
  margin-top: 8rem;
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 0;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
  }

  li {
    display: inline-block;
    list-style-type: none;
  }

  a {
    display: inline-block;
    padding: 1rem;
  }

  a:hover {
    text-decoration: none;
    background: @gray-lighter;
  }
}

.posts-pagination-page-num {
  text-align: center;
  flex: 2;
}

.posts-pagination-prev,
.posts-pagination-next {
  flex: 1;
}

.posts-pagination-prev {
  //
}

.posts-pagination-next {
  text-align: right;
}

.posts-pagination-none {
  color: @gray-dark;
}

// Individual post
.post-title {
  margin-bottom: 2rem;
}

.post-meta {
  font-size: 1.3rem;
  color: @gray-darker;
  .clearfix;
}

.post-meta-left {
  float: left;
}

.post-meta-right {
  float: right;
}

.post-precontent {
  // Nothing here yet
}

.post-content {
  margin-bottom: 4rem;

  figure {
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .iframe-gmap {
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: -8rem;
    margin-right: -8rem;
    text-align: center;
  }

  picture {
    display: block;
  }

  a {
    display: inline-block;
  }

  img {
    margin: 0 auto;
    max-width: 100%;
  }
}

.post-shownotes,
.post-media {
  margin: 2rem 0;
}

.post-sponsor {
  position: relative;
  margin: 0 auto;
  padding: 4rem;
  max-width: 54rem;
  margin-bottom: 2rem;
  border: solid 1px @gray-light;
  border-radius: .5rem;
  .text-center;
}

.post-sponsor-title {
  margin-bottom: 2rem;
}

.post-sponsor-image {
  max-width: 30rem;
}

.post-sponsor-attribution {
  border-bottom-right-radius: .5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .6rem;
  font-size: 1rem;
  background: @gray-lightest;
}

// Contact page
.page-contact {

}

// lazysizes
.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity .3s;
}

// Responsive-related classes
@import 'responsive.less';
